main {
    .featured-poducts {
        text-align: center;

        h2 {
            margin: 50px 0;
        }

        .container {
            .row {
                .col {
                    .card {
                        border: none;
                        position: relative;

                        &:hover {
                            .card-hover {
                                display: flex;
                            }
                        }

                        .card-hover {
                            position: absolute;
                            display: none;
                            flex-direction: column;
                            right: 5px;
                            top: 15px;
                            gap: 10px;
                            transition: all 1s ease;

                            a {
                                text-decoration: none;
                                color: black;

                                i {
                                    font-size: 1.2vw;
                                    background-color: white;
                                    padding: 10px;
                                    border-radius: 50%;
                                    transition: all 0.3s ease;

                                    &:hover {
                                        background-color: #FFA832;
                                        color: white;
                                    }
                                }

                                .bottom {
                                    background-color: black;
                                    color: white;
                                }
                            }
                        }

                        .card-body {
                            text-align: start;

                            h5 {
                                font-size: 15px;
                                cursor: pointer;
                                transition: all 0.4s ease;

                                &:hover {
                                    color: #FFA832;
                                }
                            }

                            p {
                                font-size: 14px;
                                color: grey;
                                font-weight: 400;

                                del {
                                    font-weight: 300;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .featured-prodct-bttn {
            button {
                border: 1px solid rgba(184, 182, 182, 0.363);
                background-color: white;
                padding: 10px 30px;
                border-radius: 50px;
                font-weight: 500;
                color: rgb(24, 24, 24);
                transition: all 0.3s ease;
                margin: 40px 0;

                &:hover {
                    background-color: #FFA832;
                    color: white;
                }
            }
        }

        .featured-prodct-bottom{
            .container{
                .row{
                    .about-miniture-box{
                       display: flex;
                       align-items: center;
                       gap: 20px;
                       text-align: start;
                       justify-content: start;

                       .mt-box-txt{
                        h4{
                            font-size: 20px;
                        }

                        p{
                            font-size: 15px;
                            font-weight: 500;
                            color: grey;
                        }
                       }
                    }
                }
            }
        }
    }
}


@media (max-width: 576px) {
    main {
        .featured-poducts {
            .container {
                .row {
                    .col {
                        .card {
                            .card-hover {
                                a {
                                    i {
                                        font-size: 17px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}