footer {
    font-family: "Outfit";
    background-color: #181818;
    color: white;
    height: auto;
    width: 100%;

    .footer-head {
        padding: 50px 0;

        .container {
            .row {
                row-gap: 30px;

                .foot-colmn {

                    .foot-colmn-title {
                        margin-bottom: 15px;
                    }

                    .foot-colmn-body {
                        display: flex;
                        flex-direction: column;
                        row-gap: 15px;

                        a {
                            color: white;
                            text-decoration: none;
                        }

                        p {
                            font-size: 16px;
                            padding-right: 20px;
                        }
                    }

                    .sosial-media-accounts {
                        display: flex;
                        gap: 10px;

                        a {
                            color: white;
                            padding: 8px 15px;
                            border: 1px solid rgba(255, 255, 255, 0.199);
                            border-radius: 50%;
                            transition: all 0.74s ease;

                            &:hover {
                                background-color: #FFA832;
                            }
                        }
                    }

                    .enter-email {
                        margin-top: 10px;

                        form {
                            border: 1px solid;
                            background-color: white;
                            display: flex;
                            width: fit-content;
                            border-radius: 5px;

                            input {
                                padding: 6px;
                                border: none;
                            }

                            button {
                                border: none;
                                background-color: white;
                                padding: 6px;

                                i{
                                    color: #181818;
                                }

                            }
                        }
                    }
                }
            }
        }
    }


    .footer-bottom{
        border-top: 1px solid rgb(78, 78, 78);
        .container{
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            flex-wrap: wrap;
            
            .prepared-by{
                p{
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .sponsors{
                img{
                    width: 260px;
                }
            }
        }
    }
}