main {
    .get-uptades-mail {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid rgba(128, 128, 128, 0.281);
        padding: 80px;
        text-align: center;

        .mail-txt {
            h2 {
                font-size: 36px;
            }

            p {
                color: grey;
            }
        }

        .for-enter-mail {
            form {

                background-color: #F5F5F5;
                border-radius: 50px;

                input {
                    border: none;
                    background-color: #F5F5F5;
                    border-radius: 50px;
                    padding: 20px 100px 20px 40px;
                }

                button {
                    border: none;
                    background-color: #FFA832;
                    color: white;
                    padding: 12px 35px;
                    border-radius: 25px;
                    margin: 0 10px;
                    transition: all 0.4s ease;

                    &:hover {
                        background-color: black;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    main {
        .get-uptades-mail {

            .mail-txt {
                h2 {
                    font-size: 30px;
                }

                p {
                    font-size: 15px;
                }
            }

            .for-enter-mail {
                form {

                    input {
                        padding: 10px 50px 10px 40px;
                    }

                    button {
                        width: 85%;
                        padding: 7px;
                    }
                }
            }
        }
    }
}